@model Projekt_ANM.Models.Current

@{
    ViewBag.Title = "Anuluj rezerwacje";
}



<h3>Czy na pewno chcesz anulować rezerwację?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarRegistration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarRegistration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @Html.ActionLink("Wróć do listy rezerwacji", "Index", new { id = 1 }, new { @class = "btn btn-default" })
        <input type="submit" value="Anuluj rezerwację" class="btn btn-danger" />

</div>
    }
</div>
